.manage-appointment {
  margin-top: 120px;
}
.appointment-section {
  border: 2px solid #3fce92;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
