.carousel-img {
  height: 850px;
  object-fit: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.6;
}
.caption {
  bottom: 100px !important;
}
.title {
  font-size: 40px;
  font-weight: 700;
}
.carousel-btn {
  border: none;
  outline: none;
  background-color: #3fce92;
  padding: 10px 15px;
  color: white;
  margin-top: 20px;
  transition: 0.3s;
}
.carousel-btn:hover {
  background-color: #f05b43;
}
